@import "misc/fonts";
@import "misc/components";
@import "misc/mixins";
@import "misc/forms";

@import "views/header";
@import "views/home";

@import "authentificate/page";
@import "ticket/page";
@import "followers/page";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    font-family: $primary-font;
    font-size: 1.8rem;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin: 20px;
    border: 3px solid black;
}

img {
    max-width: 100%;
}

.border {
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
}