{% extends 'app/base.html' %}

{% load static %}
{% block content %}
    <div class="flux">
        <div class="flux__btns">
            <div class="btn">
                <a href="/creation-ticket" title="">Demander une critique</a>
            </div>
            <div class="btn">
                <a href="/creation-critique" title="">Créer une critique</a>
            </div>
        </div>
        <div class="flux__posts">
            {% for ticket in tickets %}
                {% include 'tickets/ticket.html' with ticket=ticket %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
