{% if post.content_type == 'TICKET'%}
    <div class="ticket post">
        {% include 'tickets/components/ticket.html' with post=post page=page %}
    </div>
{% elif post.content_type == 'REVIEW' %}
    <div class="review post" data-ticket-id="{{ post.ticket.id }}">
        {% include 'tickets/components/review.html' with post=post page=page %}
        {% if page == 'posts' %}
            {% include 'tickets/components/buttons_post.html' with post=post %}
        {% endif %}
    </div>
{% endif %}


