<div class="post">
    {% if post.content_type == 'TICKET'%}
        <!-- Affichage du ticket -->
        {% include 'tickets/components/ticket.html' with post=post page=page %}
    {% elif post.content_type == 'REVIEW' %}
        <div class="border">
            <!-- Affichage de la review -->
            {% include 'tickets/components/review.html' with post=post page=page %}
            {% if page == 'posts' %}
                <!-- Affichage des buttons "Modifier" et "Supprimer" -->
                {% include 'tickets/components/buttons_post.html' with id_post=post.id %}
            {% endif %}
        </div>
    {% endif %}
</div>

