<div class="ticket border">
    {% if ticket.content_type == 'TICKET' %}
        <!-- Affichage du ticket -->
        <div class="ticket__infos">
            {% if ticket.user_logged_in %}
                <span>{{ ticket.author }} a demandé une critique</span>
            {% else %}
                <span>Vous avez publié une critique</span>
            {% endif %}
            <span class="date">{{ ticket.date }}</span>
        </div>
        <div class="ticket__title">
            <h3>{{ ticket.title }}</h3>
        </div>
        <div class="ticket__description">
            <p>{{ ticket.description }}</p>
        </div>
        {% if not ticket.has_review %}
            <div class="ticket__btn btn">
                <a href="{% url 'creation-review-with-ticket' id_ticket=ticket.id %}" title="">Créer une critique</a>
            </div>
        {% endif %}
    {% elif ticket.content_type == 'REVIEW' %}
        <!-- Affichage de la review avec les données du ticket lié -->
        <div class="ticket__review">
            <div class="bloc_review">
                <div class="bloc_review__infos">
                    <span>Vous avez publié une critique</span>
                    <span>{{ ticket.date }}</span>
                </div>
                <div class="bloc_review__title">
                    {{ ticket.headline }} - {{ ticket.rating}}
                </div>
                <div class="bloc_review__description">
                    <p>{{ ticket.body }}</p>
                </div>
            </div>
            <div class="ticket border">
                 <div class="ticket__infos">
                    <span>Ticket - {{ ticket.user.username }}</span>
                </div>
                <div class="ticket__title">
                    <h3>{{ ticket.ticket.title }}</h3>
                </div>
                <div class="ticket__description">
                    <p>{{ ticket.ticket.description }}</p>
                </div>
                {% if not ticket.ticket.has_review %}
                    <div class="ticket__btn btn">
                        <a href="{% url 'creation-review-with-ticket' id_ticket=ticket.id %}" title="">Créer une critique</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>

