form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include size-sm {
    align-items: flex-end;
  }

  .field-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    text-align: left;

    .error_message {
      font-size: 1.4rem;
      font-weight: bold;
      color: red;
    }

    input,
    textarea{
      margin-top: 5px;
      font-family: $primary-font;
      font-size: 1.9rem;
      color: black;

      &::placeholder {
        color: black;
      }
    }

    textarea {
      width: 100%;
      height: 100%;
    }

    .radio_input {
      display: flex;
      justify-content: space-between;
      width: 80%;

      label {
        display: flex;
        align-items: center;

        input {
          margin: 0 10px;
        }
      }
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="search"],
  textarea {
    width: 100%;
    height: 40px;
    padding: 5px;
  }

  input[type="submit"],
  input[type=file]::file-selector-button {
    margin: 15px 0;
    padding: 10px 35px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
    font-size: 1.8rem;
    font-family: $primary-font;
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.75);
    cursor: pointer;
  }

  input[type=file]::file-selector-button {
    margin-right: 20px;
  }
}

.separate {
  width: 100%;
  height: 1px;
  margin: 50px 0;
  background-color: black;
}