.subscribe {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 50px auto;

  @include size-lg {
    width: 60%;
    padding: 100px 0;
  }

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  &__form {
    &__buttons {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;

      @include size-lg {
        flex-direction: row;
      }

      .btn {
        width: 100%;
        margin-right: 20px;

        @include size-lg {
          width: auto;
        }

        a {
          width: 100%;

          @include size-lg {
            width: auto;
          }
        }
      }

      input[type="submit"] {
        margin: 10px 0 0 0;

        @include size-lg {
          margin: 0;
        }
      }
    }
  }
}