.followers {
  width: 90%;
  margin: 100px auto;

  h2 {
    margin-bottom: 25px;
    text-align: center;
  }

  &__research {
    form {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .field-form {
        margin-top: 0;

        input[type="search"] {
          width: 95%;
          height: 50px;
          font-size: 1.8rem;
          text-align: center;

          &::placeholder {
            color: #A9A9A9;
          }
        }
      }
    }
  }


  .list_users {
    &__item  {
      display: flex;
      justify-content: space-between;

      .name,
      .link {
        padding: 10px;
        border: 1px solid black
      }

      .name {
        width: 90%;
      }

      .name-subscriber {
        width: 100%;
      }

      .link {
        width: 10%;
        cursor: pointer;

        &:hover {
          background-color: black;

          a {
            color: white;
          }
        }

        a {
          display: flex;
          justify-content: center;
          color: black;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}

.followers__research,
.followers__subscribe,
.followers__subscriber {
  margin-bottom: 50px;
}