{% load static %}

<!-- Affichage de la review avec les données du ticket lié -->
 <div class="review__content">
    <div class="bloc_review">
        <div class="bloc_review__infos">
            {% if post.user_logged_in %}
                <span>{{ post.author }} a publié une critique</span>
            {% else %}
                <span>Vous avez publié une critique</span>
            {% endif %}
            <span class="date">{{ post.date }}</span>
        </div>
        <div class="bloc_review__title">
            <div class="headline">{{ post.headline }}</div>
            <span class="line">-</span>
            <div class="rating" data-rating="{{ post.rating }}">
                <span class="star">&#x2605;</span>
                <span class="star">&#x2605;</span>
                <span class="star">&#x2605;</span>
                <span class="star">&#x2605;</span>
                <span class="star">&#x2605;</span>
            </div>
        </div>
        <div class="bloc_review__description">
            <p>{{ post.body }}</p>
        </div>
    </div>
    <div class="post_view border">
         <div class="post__infos">
            <span>Ticket - {{ post.user.username }}</span>
        </div>
        <div class="post__title">
            <h2>{{ post.ticket.title }}</h2>
        </div>
        <div class="post__description">
            <p>{{ post.ticket.description }}</p>
            {% if post.image %}
                <img src="{{ MEDIA_URL }}{{ post.image }}" alt="">
            {% endif %}
        </div>
    </div>
</div>
