@charset "UTF-8";
@font-face {
  src: url("/static/app/fonts/Montserrat-Regular.ttf") format("truetype");
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("/static/app/Montserrat-Medium.ttf") format("truetype");
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("/static/app/fonts/Montserrat-Bold.ttf") format("truetype");
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn a {
  padding: 10px 35px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  background-color: white;
  font-size: 1.8rem;
  font-family: "Montserrat", monospace;
  font-weight: bold;
  color: black;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.warning {
  color: red;
  font-weight: 700;
  font-size: 1.5rem;
}

.message-alert,
.message {
  text-align: center;
}

.message-alert span,
.message span {
  font-weight: 700;
  font-size: 1.5rem;
}

.error {
  color: red;
}

.validate {
  color: #006b1b;
}

li {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 456px) {
  form {
    align-items: flex-end;
  }
}

form .field-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
  text-align: left;
}

form .field-form .error_message {
  font-size: 1.4rem;
  font-weight: bold;
  color: red;
}

form .field-form input,
form .field-form textarea {
  margin-top: 5px;
  font-family: "Montserrat", monospace;
  font-size: 1.9rem;
  color: black;
}

form .field-form input::placeholder,
form .field-form textarea::placeholder {
  color: black;
}

form .field-form textarea {
  width: 100%;
  height: 100%;
}

form .field-form .radio_input {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

form .field-form .radio_input label {
  display: flex;
  align-items: center;
}

form .field-form .radio_input label input {
  margin: 0 10px;
}

form input[type="text"],
form input[type="password"],
form input[type="search"],
form textarea {
  width: 100%;
  height: 40px;
  padding: 5px;
}

form input[type="submit"],
form input[type=file]::file-selector-button {
  margin: 15px 0;
  padding: 10px 35px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  background-color: white;
  font-size: 1.8rem;
  font-family: "Montserrat", monospace;
  font-weight: bold;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

form input[type=file]::file-selector-button {
  margin-right: 20px;
}

.separate {
  width: 100%;
  height: 1px;
  margin: 50px 0;
  background-color: black;
}

header {
  position: relative;
  padding: 30px;
  border-bottom: 3px solid black;
}

header .title {
  display: flex;
  justify-content: center;
}

header .title h1 {
  font-family: "Montserrat", monospace;
}

@media (min-width: 1054px) {
  header .menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

header .menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1054px) {
  header .menu ul {
    flex-direction: row;
  }
}

header .menu ul li {
  margin-right: 0;
  list-style-type: none;
}

@media (min-width: 1054px) {
  header .menu ul li {
    margin-right: 30px;
  }
}

header .menu ul li a {
  color: black;
  text-decoration: none;
}

.home-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1054px) {
  .home-content {
    flex-direction: row;
  }
}

.home-content__bloc {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 0;
}

@media (min-width: 1054px) {
  .home-content__bloc {
    width: 50%;
    padding: 100px 0;
  }
}

.home-content__bloc h2 {
  margin-bottom: 30px;
  text-align: center;
}

.home-content__bloc__subscribe {
  display: flex;
  flex-direction: column;
}

.home-content__bloc__login {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.subscribe {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 50px auto;
}

@media (min-width: 1054px) {
  .subscribe {
    width: 60%;
    padding: 100px 0;
  }
}

.subscribe h2 {
  margin-bottom: 20px;
  text-align: center;
}

.subscribe__form__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

@media (min-width: 1054px) {
  .subscribe__form__buttons {
    flex-direction: row;
  }
}

.subscribe__form__buttons .btn {
  width: 100%;
  margin-right: 20px;
}

@media (min-width: 1054px) {
  .subscribe__form__buttons .btn {
    width: auto;
  }
}

.subscribe__form__buttons .btn a {
  width: 100%;
}

@media (min-width: 1054px) {
  .subscribe__form__buttons .btn a {
    width: auto;
  }
}

.subscribe__form__buttons input[type="submit"] {
  margin: 10px 0 0 0;
}

@media (min-width: 1054px) {
  .subscribe__form__buttons input[type="submit"] {
    margin: 0;
  }
}

.ticket-form {
  width: 90%;
  margin: 30px auto;
  text-align: center;
}

.ticket-form h2 {
  margin-bottom: 20px;
}

.ticket-form .answer-ticket {
  margin-bottom: 15px;
}

.ticket-form .answer-ticket p {
  margin-bottom: 15px;
  text-align: left;
}

.ticket-form .answer-ticket .bloc_ticket {
  width: 80%;
  margin: 0 auto 15px auto;
  text-align: left;
}

.ticket-form .answer-ticket .bloc_ticket__image img {
  width: 100%;
  height: 100px;
}

.ticket-form form {
  margin: 40px 0;
}

.posts {
  width: 90%;
  margin: 20px auto;
}

@media (min-width: 1054px) {
  .posts {
    width: 60%;
    margin: 50px auto;
  }
}

.posts h2 {
  text-align: center;
  margin-bottom: 20px;
}

.posts__buttons {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1054px) {
  .posts__buttons {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

.posts__buttons a {
  text-align: center;
  margin: 10px 0;
}

.posts__list {
  text-align: center;
}

.posts__list__empty {
  font-size: 2rem;
}

@media (min-width: 1054px) {
  .posts__list__empty {
    font-size: 3rem;
  }
}

.post,
.bloc_review,
.post_view,
.review {
  margin: 0 0 15px 0;
}

.post__infos,
.bloc_review__infos,
.post_view__infos,
.review__infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
}

@media (min-width: 1054px) {
  .post__infos,
.bloc_review__infos,
.post_view__infos,
.review__infos {
    flex-direction: row;
  }
}

.post__infos .date,
.bloc_review__infos .date,
.post_view__infos .date,
.review__infos .date {
  font-style: italic;
}

.post__description p,
.bloc_review__description p,
.post_view__description p,
.review__description p {
  text-align: left;
}

.post__description img,
.bloc_review__description img,
.post_view__description img,
.review__description img {
  margin-top: 15px;
  width: 100%;
  height: auto;
}

@media (min-width: 1054px) {
  .post__description img,
.bloc_review__description img,
.post_view__description img,
.review__description img {
    width: 40%;
  }
}

.post__title,
.bloc_review__title,
.post_view__title,
.review__title {
  display: flex;
  align-items: end;
  margin-bottom: 15px;
}

.post__title .headline,
.bloc_review__title .headline,
.post_view__title .headline,
.review__title .headline {
  font-size: 2.2rem;
  font-weight: bold;
  margin-right: 10px;
}

.post__title .line,
.bloc_review__title .line,
.post_view__title .line,
.review__title .line {
  margin: 0 15px 5px 10px;
  font-size: 2rem;
  line-height: 1;
  vertical-align: middle;
}

.post__title .rating,
.bloc_review__title .rating,
.post_view__title .rating,
.review__title .rating {
  display: inline-block;
}

.post__title .rating .star,
.bloc_review__title .rating .star,
.post_view__title .rating .star,
.review__title .rating .star {
  font-size: 4rem;
  line-height: 1;
  vertical-align: middle;
  color: #ccc;
}

.post__title .rating[data-rating="1"] .star:nth-child(1),
.post__title .rating[data-rating="2"] .star:nth-child(-n+2),
.post__title .rating[data-rating="3"] .star:nth-child(-n+3),
.post__title .rating[data-rating="4"] .star:nth-child(-n+4),
.post__title .rating[data-rating="5"] .star:nth-child(-n+5),
.bloc_review__title .rating[data-rating="1"] .star:nth-child(1),
.bloc_review__title .rating[data-rating="2"] .star:nth-child(-n+2),
.bloc_review__title .rating[data-rating="3"] .star:nth-child(-n+3),
.bloc_review__title .rating[data-rating="4"] .star:nth-child(-n+4),
.bloc_review__title .rating[data-rating="5"] .star:nth-child(-n+5),
.post_view__title .rating[data-rating="1"] .star:nth-child(1),
.post_view__title .rating[data-rating="2"] .star:nth-child(-n+2),
.post_view__title .rating[data-rating="3"] .star:nth-child(-n+3),
.post_view__title .rating[data-rating="4"] .star:nth-child(-n+4),
.post_view__title .rating[data-rating="5"] .star:nth-child(-n+5),
.review__title .rating[data-rating="1"] .star:nth-child(1),
.review__title .rating[data-rating="2"] .star:nth-child(-n+2),
.review__title .rating[data-rating="3"] .star:nth-child(-n+3),
.review__title .rating[data-rating="4"] .star:nth-child(-n+4),
.review__title .rating[data-rating="5"] .star:nth-child(-n+5) {
  color: #f39c12;
  /* Couleur de l'étoile pleine */
}

.post__btn,
.bloc_review__btn,
.post_view__btn,
.review__btn {
  display: flex;
  justify-content: flex-end;
  margin: 30px 15px 15px 0;
}

.post .buttons_post,
.bloc_review .buttons_post,
.post_view .buttons_post,
.review .buttons_post {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.post .buttons_post .btn a,
.bloc_review .buttons_post .btn a,
.post_view .buttons_post .btn a,
.review .buttons_post .btn a {
  margin: 0 10px;
}

.review {
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
}

.followers {
  width: 90%;
  margin: 100px auto;
}

.followers h2 {
  margin-bottom: 25px;
  text-align: center;
}

.followers__research form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.followers__research form .field-form {
  margin-top: 0;
}

.followers__research form .field-form input[type="search"] {
  width: 95%;
  height: 50px;
  font-size: 1.8rem;
  text-align: center;
}

.followers__research form .field-form input[type="search"]::placeholder {
  color: #A9A9A9;
}

.followers .list_users__item {
  display: flex;
  justify-content: space-between;
}

.followers .list_users__item .name,
.followers .list_users__item .link {
  padding: 10px;
  border: 1px solid black;
}

.followers .list_users__item .name {
  width: 90%;
}

.followers .list_users__item .name-subscriber {
  width: 100%;
}

.followers .list_users__item .link {
  width: 10%;
  cursor: pointer;
}

.followers .list_users__item .link:hover {
  background-color: black;
}

.followers .list_users__item .link:hover a {
  color: white;
}

.followers .list_users__item .link a {
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
  text-decoration: none;
}

.followers__research,
.followers__subscribe,
.followers__subscriber {
  margin-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", monospace;
  font-size: 1.8rem;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 20px;
  border: 3px solid black;
}

img {
  max-width: 100%;
}

.border {
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
}
