{% extends 'app/base.html' %}
{% load static %}

{% block bottom_scripts %}
    <script src="{% static 'followers/js/subscribe.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="followers">
        <div class="followers__research">
            <h2>Suivi d'autres utilisateurs</h2>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                   {% include 'app/field_form.html' with field=field show_label=show_label %}
                {% endfor %}
                <input type="submit" value="Envoyer">
            </form>
            <div class="message"></div>
        </div>
        <div class="followers__subscribe">
            <h2>Abonnements</h2>
            <div class="list_users">
                {% for user in list_users.following %}
                   <div class="list_users__item">
                       <div class="name"><span>{{ user.username }}</span></div>
                       <div class="link unsubscribe">
                           <a href="#" data-user_id="{{ user.id }}" title="Se désabonner">Désabonner</a>
                       </div>
                   </div>
                {% endfor %}
            </div>
            <div class="message"></div>
        </div>
        <div class="followers__subscriber">
             <h2>Abonnés</h2>
             <div class="list_users">
                 {% for user in list_users.followed%}
                    <div class="list_users__item">
                       <div class="name name-subscriber"><span>{{ user }}</span></div>
                   </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}