{% load static %}

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token }}">
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'app/css/app.css' %}" />
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="title">
                    <h1>LITReview</h1>
                </div>
                {% if user.is_authenticated %}
                    <div class="menu">
                        <ul>
                            <li><a href="/flux" title="Lien vers la page flux">Flux</a></li>
                            <li><a href="/posts" title="Lien vers la page posts">Posts</a></li>
                            <li><a href="/abonnements" title="Lien vers la page abonnements">Abonnements</a></li>
                            <li><a href="{% url 'logout' %}" title="Se déconnecter">Se déconnecter</a></li>
                        </ul>
                    </div>
                {% endif %}
            </header>
            {% block content %}{% endblock %}
        </div>
        {% block bottom_scripts %}{% endblock %}
    </body>
</html>
