{% extends 'app/base.html' %}

{% load static %}
{% block content %}
    <div class="home-content">
        <div class="home-content__bloc">
            <div class="home-content__bloc__subscribe">
                <h2>Inscrivez-vous maintenant</h2>
                <div class="btn">
                    <a href="/inscription" title="Lien vers la page d'inscription">S'inscrire</a>
                </div>
            </div>
        </div>
        <div class="home-content__bloc">
            <div class="home-content__bloc__login">
                <h2>Connectez-vous</h2>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                       {% include 'app/field_form.html' with field=field %}
                    {% endfor %}
                    <div class="warning">{{ message }}</div>
                    <input type="submit" value="Se connecter">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
